* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: #fff;
  color: #636b6f;
  font-family: 'Nunito', sans-serif;
  font-weight: 100;
  font-size: 16px;
  min-height: 100vh;
}

.flex-layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content {
  text-align: center;
}

.title {
  font-size: 3rem;
}

.links>a {
  color: #636b6f;
  padding: 0 25px;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: .1rem;
  text-decoration: none;
  text-transform: uppercase;
}

.m-b-md {
  margin-bottom: 30px;
}

/* header styles */
header {
  width: 100%;
  border-top: 1px solid #eee;
  box-shadow: 0 2px 3px 0 #eee;
}

header nav {
  width: 90%;
  margin: 0 auto;
  padding: 0.5rem 0;
}

header h3 {
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 2px;
}

/* footer styles */
footer {
  width: 100%;
  border-top: 1px solid #eee;
}

footer div {
  width: 90%;
  margin: 0 auto;
  padding: 0.5rem 0;
}

footer p {
  text-align: center;
  font-size: 1rem;
}

/* the hero css */
.masthead {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: 100%;
  min-height: 80vh;
  /* if you don't want it to take up the full screen, reduce this number */
  overflow: hidden;
  background-size: cover;
  background: url(qijin-xu.png) no-repeat center center scroll;
}

h1 {
  font-style: normal;
  font-weight: bold;
  /* color: #888; */
  font-size: 11vmin;
  letter-spacing: 0.03em;
  line-height: 1;
  /* text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.8); */
  margin-bottom: 1rem;
}

p {
  font-size: 1.25rem;
  color: #888;
  margin-bottom: 1rem;
}

button {
  background: #363636;
  border-radius: 6px;
  display: inline-block;
  border: none;
  padding: 0.75rem 1.5rem;
  margin: 0;
  text-decoration: none;
  color: #fff;
  font-size: 1.2rem;
  cursor: pointer;
  text-align: center;
  -webkit-appearance: none;
  -moz-appearance: none;
}

button:focus {
  outline: 1px solid #fff;
  outline-offset: -4px;
}
