* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
}

ul {
  list-style: none;
}

li {
  padding-right: 0.5rem;
}

.blog-list {
  padding: 1.5rem 0;
  border-bottom: 0.5px solid #eee;
}

.title-text {
  font-size: 1.25rem;
  font-weight: 900;
  letter-spacing: 1px;
}

.show-title-text {
  font-size: 1.35rem;
  font-weight: 900;
  margin-top: 1rem;
}

.text-black {
  color: #444;
}

.bg-logo {
  background-color: #000;
  color: #fff !important;
  padding: 0.25rem 0.5rem;
  border-radius: 3px;
  font-weight: 700;
}

.nav-padding {
  padding: 0.35rem 0;
}

.links-container {
  display: flex;
  justify-content: center;
  align-items: center;
}